*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#00c6ff,#0072ff);
}

.weather-card{
    width:420px;
    padding:30px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    border-radius:20px;
    color:white;
    text-align:center;
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

.search-box button{
    padding:12px 18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:white;
    color:#0072ff;
    font-weight:bold;
}

.search-box button:hover{
    transform:scale(1.05);
}

.weather-info{
    margin-top:25px;
    line-height:2;
}

.weather-info img{
    width:100px;
}